[submodule "layers/meta-rockchip"]
	path = layers/meta-rockchip
	url = https://git.yoctoproject.org/meta-rockchip
	branch = kirkstone
	update = rebase
[submodule "layers/poky"]
	path = layers/poky
	url = https://git.yoctoproject.org/poky
	branch = kirkstone
	update = rebase
[submodule "layers/meta-openembedded"]
	path = layers/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = kirkstone
	update = rebase
[submodule "layers/meta-arm"]
	path = layers/meta-arm
	url = https://git.yoctoproject.org/meta-arm
	branch = kirkstone
	update = rebase
[submodule "layers/meta-virtualization"]
	path = layers/meta-virtualization
	url = https://git.yoctoproject.org/meta-virtualization
	branch = kirkstone
