# Example configuration file
#
# rename this file to config.env
# and edit entries
#



########################################
#
# uncomment and change last DL_DIR entry that it points to an existing dirctory 
# with full read and write access
# 

# DL_DIR=/var/sources/yocto/hardknott

########################################
#
# env vars for recipes 
# !!! you need export them !!!
#
export HTTPS_CERT_FILE=$THIS_DIR/ssl/smallserver.crt 
export HTTPS_KEY_FILE=$THIS_DIR/ssl/smallserver.key

########################################
#
# per device deployment port for serve_pkgs
#
# HTTP_PORT_<MACHINE>=8011
#
#  !!!!!!!!! Attention !!!!!!!!
#  Please note: each '-' has to be replaced by '_'
#
# because HTTP_PORT_<MACHINE> has to be a valid bash variable
#  i.e rock-pi-4b => rock_pi_4b
HTTP_PORT_rock_pi_4b=8011
HTTP_PORT_genericx86_64=8012

########################################
#
# enable ssh access via user account with ssh-keys with passwords enabled
# 
# eval `ssh-agent`
# ssh-add ~/.ssh/id_rsa
