# Example configuration file
#
# rename this file to config.env
# and edit entries
#

########################################
#
# uncomment and change last DL_DIR entry that it points to an existing dirctory 
# with full read and write access
# 

# DL_DIR=/var/sources/yocto/hardknott


########################################
#
# enable ssh access via user account with ssh-keys with passwords enabled
# 

# eval `ssh-agent`
# ssh-add ~/.ssh/id_rsa
