# Example configuration file
#
# rename this file to config.env
# and edit entries
#



########################################
#
# uncomment and change last DL_DIR entry that it points to an existing dirctory 
# with full read and write access
# 

# DL_DIR=/var/sources/yocto/hardknott

########################################
#
# env vars for recipes 
# !!! you need export them !!!
#
export HTTPS_CERT_FILE=$THIS_DIR/ssl/smallserver.crt 
export HTTPS_KEY_FILE=$THIS_DIR/ssl/smallserver.key


########################################
#
# enable ssh access via user account with ssh-keys with passwords enabled
# 
# eval `ssh-agent`
# ssh-add ~/.ssh/id_rsa
