 
server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate     /etc/ssl/certs/hass.crt;
    ssl_certificate_key /etc/ssl/private/hass.key;
    ssl_protocols       TLSv1.2;
    ssl_ciphers         HIGH:!aNULL:!MD5;


    location / {
        proxy_pass http://127.0.0.1:8123;
        proxy_set_header Host $host;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }


    location /api/websocket {
        proxy_pass http://127.0.0.1:8123/api/websocket;
        proxy_set_header Host $host;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }


    # root /var/www/localhost/html;

    # index index.html index.htm;

    # server_name s11hattl.dns.army;

    # redirect server error pages to the static page /50x.html
    error_page 500 502 503 504 /50x.html;
}
